@import '../../../../css/variables.less';

.face-regco-container {
  width: 100%;
  height: 426px;

  .face-rego-content {
    width: 329px;
    height: 331px;
    margin: 18px auto;
    border: 1px solid @main-blue;
  }

  .current-person-show-panel {
    height: 184px;

    .person-name-line {
      height: 26px;
      color: #fff;
      font-size: 16px;
      background: @main-blue;

      .name {
        margin-left: 42px;
        margin-right: 42px;
      }
    }

    .person-visit-panel {
      display: flex;

      .face-img {
        display: block;
        width: 148px;
        height: 150px;
      }

      .person-info-list {
        margin-left: 20px;
        margin-top: 42px;
        color: #fff;
        font-size: 12px;

        .info-item {
          margin-bottom: 12px;
        }
      }
    }


  }

  .person-list-container {
    width: 100%;
    height: 152px;
    border-top: 1px dashed @main-blue;
    overflow-y: auto;

    .person-list {
      width: 100%;
    }

    .person-info {
      height: 29px;
      border-bottom: 1px dashed @main-blue;
      display: flex;
      align-items: center;
      color: #fff;
      font-size: 12px;
      cursor: pointer;

      &:hover,
      &.selected {
        background: @main-deep-blue;
      }

      .face-img {
        display: block;
        width: 30px;
        height: 30px;
        margin-left: 8px;
      }

      .name {
        display: block;
        margin-left: 46px;
        width: 96px;
      }

      .time {
        display: block;
        width: 92px;
      }

      .room {
        display: block;
      }
    }
  }
}