@import '../../../../css/variables.less';

.floor-item-common {
  background: @main-background;
  width: 30px;
  font-size: 16px;
  line-height: 16px;
  color: @main-blue;
  padding-top: 15px;
  padding-left: 4px;
}

.building-panel-container {
  width: 1028px;
  height: 670px;
  margin-top: 20px;
  position: relative;
}

.building-body {
  margin-top: 43px;
  margin-left: 155px;
  width: 740px;
  height: 577px;
  position: relative;

  &.f3 {
    background: url('./images/f3_bg.png');
  }

  &.f7 {
    background: url('./images/f7_bg.png');
  }

  .device-icon {
    position: absolute;
  }
}

polygon,
rect {
  fill: transparent;
  cursor: pointer;

  &:hover,
  &.selected {
    fill: @main-deep-blue;
  }
}

.room-info-constainer {
  width: 178px;
  height: 220px;
  position: absolute;
  top: 235px;
  left: 277px;
  border: 1px solid @main-blue;

  .room-info-list {
    margin: 10px;

    .device-info-item {
      font-size: 12px;
      line-height: 18px;
      margin-bottom: 6px;
      color: #fff;

      &:last-child {
        border-top: 1px solid @main-blue;
        padding-top: 6px;
        margin-top: 8px;
      }

      .title {
        margin-right: 6px;
      }

      .status {
        color: @main-red;
      }
    }
  }
}

//-------------floor-item-common-----------------
.building-floor-list-container {
  position: absolute;
  top: 57px;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .floor-item {
    height: 46px;
    position: relative;
    filter: drop-shadow(0 0 1px @main-blue);
    cursor: pointer;
    margin-bottom: 8px;
    transition: width linear .2s;
    .floor-item-common();

    &:before {
      content: "";
      width: 0;
      height: 24px;
      position: absolute;
      border-right: 13px solid @main-background;
      border-top: 11px solid transparent;
      border-bottom: 11px solid transparent;
      left: -13px;
      top: 0;
    }

    &:hover,
    &.selected {
      background: @main-deep-blue;
      width: 50px;
      font-size: 26px;
      color: #fff;
      line-height: 37px;
      padding-top: 5px;
      padding-left: 5px;

      &::before {
        border-right: 13px solid @main-deep-blue;
      }
    }

    &.disabled {
      cursor: no-drop;

      &:before {
        border-right: 13px solid @main-background;
      }

      &:hover {
        .floor-item-common();
      }
    }
  }
}

//-------------floor-item-common-----------------